name: step o/p Demo
on: workflow_dispatch
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: step1
        id: step1
        run: echo "version=0.0.1" >> $GITHUB_OUTPUT
      - name: step2
        run: echo "the version is ${{ steps.step1.outputs.version }}"
